@model OrderViewModel

<h2>Create Order</h2>

<form asp-action="Create" method="post">
    <div class="form-group" style="margin-bottom: 25px;">
        <label class="form-label">Select Spare Parts</label>
        <div>
            @foreach (var sparePart in Model.SpareParts)
            {
                <div class="form-check" style="margin-bottom: 5px;">
                    <input type="checkbox" class="form-check-input" id="sparePart_@sparePart.IdSparePart"
                        name="SelectedSpareParts" value="@sparePart.IdSparePart" />
                    <label class="form-check-label" for="sparePart_@sparePart.IdSparePart">@sparePart.Name</label>
                </div>
            }
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 25px;">
        <label class="form-label">Select Works</label>
        <div>
            @foreach (var work in Model.Works)
            {
                <div class="form-check" style="margin-bottom: 5px;">
                    <input type="checkbox" class="form-check-input" id="work_@work.IdWork" name="SelectedWorks"
                        value="@work.IdWork" />
                    <label class="form-check-label" for="work_@work.IdWork">@work.WorkDescription</label>
                </div>
            }
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 25px;">
        <label class="form-label">Select Malfunctions</label>
        <div>
            @foreach (var malfunction in Model.Malfunctions)
            {
                <div class="form-check" style="margin-bottom: 5px;">
                    <input type="checkbox" class="form-check-input" id="malfunction_@malfunction.IdMalfunction"
                        name="SelectedMalfunctions" value="@malfunction.IdMalfunction" />
                    <label class="form-check-label"
                        for="malfunction_@malfunction.IdMalfunction">@malfunction.Description</label>
                </div>
            }
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 25px;">
        <label class="form-label">Select Master</label>
        <div>
            @foreach (var master in Model.Masters)
            {
                <div class="form-check" style="margin-bottom: 5px;">
                    <input type="radio" class="form-check-input" id="master_@master.IdMaster" name="IdMaster"
                        value="@master.IdMaster" />
                    <label class="form-check-label" for="master_@master.IdMaster">@master.Specialization</label>
                </div>
            }
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Order")">Cancel</a>
    </div>
</form>
