@model IEnumerable<Order>

<h2>Список заказов</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Заказа</th>
            <th>Комментарий</th>
            <th>Действия</th>
         </tr>
     </thead>
     <tbody>
     @foreach (var order in Model)
     {
         <tr>
             <td>@order.IdOrder</td>
             <td>@order.Comment</td>
             <td>
                 <!-- Кнопка редактирования -->
                 <a class="btn btn-primary me-2" href="@Url.Action("Edit", "Order", new { id = order.IdOrder })" role="button">
                     Редактировать
                 </a>

                 <!-- Кнопка удаления -->
                 <a class="btn btn-danger me-2" href="@Url.Action("Delete", "Order", new { id = order.IdOrder })" role="button">
                     Удалить
                 </a>

                 <!-- Кнопка просмотра деталей -->
                 <a class="btn btn-info" href="@Url.Action("Details", "Order", new { id = order.IdOrder })" role="button">
                     Просмотр деталей
                 </a>
             </td>
         </tr>
     }
     </tbody>
</table>

<!-- Кнопка создания нового заказа -->
<a class="btn btn-success mt-3" href="@Url.Action("Create", "Order")" role="button">
    Создать новый заказ
</a>
